openapi: 3.1.0
info:
  title: Quickdocs API server
  version: '0.1'
  contact:
    name: Eitaro Fukamachi
    url: 'https://8arrow.org'
    email: e.arrows@gmail.com
  description: Quickdocs API server
servers:
  - url: 'https://api.quickdocs.org/v1'
paths:
  '/dists/{version}':
    get:
      summary: Get dist info by the version
      tags: []
      parameters:
        - schema:
            type: string
          name: version
          in: path
          required: true
      responses:
        '200':
          description: Dist Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dist'
              examples:
                Quicklisp 2021-04-11:
                  value:
                    name: quicklisp
                    version: '2021-04-11'
                    provided_releases_count: 2018
        '404':
          description: Dist Not Found
      operationId: get-dist
      description: Retrieve the information of the dist with its version.
  '/dists/{version}/releases':
    get:
      summary: Get releases of the dist
      tags: []
      parameters:
        - name: version
          in: path
          schema:
            type: string
          required: true
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: per_page
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: All Releases of the Dist
          content:
            application/json:
              schema:
                properties:
                  per_page:
                    type: integer
                    format: int32
                  count:
                    type: integer
                    format: int32
                  next:
                    type: string
                    format: url
                  prev:
                    type: string
                    format: url
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReleaseForList'
                required:
                  - per_page
                  - count
                  - items
  '/releases/{name}':
    get:
      summary: Get release information
      tags: []
      parameters:
        - name: name
          in: path
          schema:
            type: string
          required: true
        - name: dist_version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Release information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Release'
components:
  schemas:
    Dist:
      title: Dist
      type: object
      description: Dist information
      properties:
        name:
          type: string
        version:
          type: string
        provided_releases_count:
          type: integer
      x-examples:
        Quicklisp 2021-04-11:
          name: quicklisp
          version: '2021-04-11'
          provided_releases_count: 2018
    ReleaseForList:
      type: object
      description: Minimum release information for lists
      properties:
        name:
          type: string
        description:
          type: string
        authors:
          type: array
          items:
            type: string
      required:
        - name
    Release:
      title: Release
      type: object
      description: Release information
      properties:
        name:
          type: string
        description:
          type: string
        version:
          type: string
        authors:
          type: array
          items:
            type: string
        maintainers:
          type: array
          items:
            type: string
        upstream_url:
          type: string
          format: url
        licenses:
          type: array
          items:
            type: string
        depends_on:
          type: array
          items:
            type: string
        required_by:
          type: array
          items:
            type: string
      required:
        - name
